<header>
    <h1>Gerenciador Financeiro 1.0</h1>
</header>
<div class="menu-insercao container">
    <form class="form-inline" action="http://localhost:8081/add" method="POST">
        <div class="form-group">
            <input class="form-control" name="descricao" type="text" placeholder="Descrição" autocomplete="off">
            <input class="form-control" name="valor" type="number" step="0.01" placeholder="Valor" autocomplete="off">
            <input class="form-control" name="data" type="date" placeholder="Data">
        </div>

        <div class="form-group">
            <select class="form-control" name="despesa">
                <option value="true">Gasto</option>
                <option value="false">Ganho</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Adicionar</button>
        <button class="btn btn-outline-success" type="submit" onclick="return false">Buscar</button>
    </form>
</div>

<div class="container tables">
    <div class="card gastos">
        <div class="card-header">
            <h3 class="card-title">Gastos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {{#each dados}}
                {{#if despesa}}
                <tr identificador={{_id}}>
                    <td>{{descricao}}</td>
                    <td>{{valor}}</td>
                    <td>{{data}}</td>
                    <td id="actions">
                        <!-- <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a> -->
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>

        </table>
    </div>

    <div class="card ganhos">
        <div class="card-header">
            <h3 class="card-title">Ganhos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {{#each dados}}
                {{#unless despesa}}
                <tr identificador={{_id}}>
                    <td>{{descricao}}</td>
                    <td>{{valor}}</td>
                    <td>{{data}}</td>
                    <td id="actions">
                        <!-- <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a> -->
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                {{/unless}}
                {{/each}}
                </tr>
            </tbody>

        </table>

    </div>

    <div class="card resumo">
        <div class="card-header">
            <h3 class="card-title">Resumo</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Total de Ganhos</th>
                    <th>Total de Gastos</th>
                    <th>Total Restante</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>+R$30,00</td>
                    <td>-R$10,00</td>
                    <td>R$20,00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>