<header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <h3>Gerenciador Financeiro</h3>
            </a>
        </li>
        <div class="container-logout">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link btn btn-dark">Voltar</a>
            </li>
        </div>
    </ul>
</header>

<div class="menu-buscar container">
    <form class="form-inline" action="/buscar" method="POST">
        <div class="form-group">
            <select class="form-control selectBusca" name="tipoBusca">
                <option value="descricao">Descrição</option>
                <option value="valor">Valor</option>
                <option value="data">Data</option>
            </select>
            <input class="form-control" name="valorBusca" type="text" step="0.01" autocomplete="off">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </div>
    </form>
</div>

<div class="container tables">
    <div class="card gastos">
        <div class="card-header">
            <h3 class="card-title">Gastos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {{#each dadosBuscar}}
                {{#if despesa}}
                <tr identificador={{_id}}>
                    <td class="rowData" contenteditable="false">{{descricao}}</td>
                    <td class="rowData" contenteditable="false">{{valor}}</td>
                    <td class="rowData" contenteditable="false">{{data}}</td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>

        </table>
    </div>

    <div class="card ganhos">
        <div class="card-header">
            <h3 class="card-title">Ganhos</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {{#each dadosBuscar}}
                {{#unless despesa}}
                <tr identificador={{_id}}>
                    <td class="rowData" contenteditable="false">{{descricao}}</td>
                    <td class="rowData" contenteditable="false">{{valor}}</td>
                    <td class="rowData" contenteditable="false">{{data}}</td>
                </tr>
                {{/unless}}
                {{/each}}
                </tr>
            </tbody>

        </table>

    </div>
</div>